<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/prop.css' %}">
    <title></title>
  </head>
  <body>
    <h1>Enter the percentage of composition</h1>
    <div class="box">
    <form class="wearloss" method="POST">
      {% csrf_token %}
      <input type="text" name="wearloss" value="">
      <input type="submit" name="" value="predict">
    </form>
</div>
      <h1> The Predicted value is {{ C }}</h1>

  </body>
</html>
